   body {
       overflow: hidden;
   }
   
   .home {
       position: absolute;
       width: 2003.5px;
       height: 1501px;
       left: -111px;
       top: -331px;
       /* background: linear-gradient(rgb(33, 14, 47, 1), rgb(195, 195, 195, 1)); */
       background-size: cover;
       background: rgb(195, 195, 195, 1);
   }
   
   table {
       position: absolute;
       width: 1003.5px;
       height: 550px;
       left: 100px;
       top: 425px;
       z-index: 1;
   }
   
   .women {
       position: absolute;
       width: 1500.5px;
       height: 500px;
       left: 100px;
       top: 625px;
   }
   
   td,
   th {
       border: 1px solid rgb(148, 146, 146);
       text-align: left;
       width: 15px;
       height: 15px;
       padding: 10px;
       z-index: 1;
   }
   
   .dark-mode {
       background-color: black;
       color: white;
   }
   
   h1 {
       /* Adyasha Mishra */
       position: absolute;
       width: 911px;
       height: 403px;
       top: 292px;
       left: 195px;
       font-family: 'Black Mango';
       font-style: normal;
       font-weight: bolder;
       font-size: 210.321px;
       line-height: 219px;
       color: #d3d2d2;
       z-index: 2;
   }
   
   h6 {
       position: absolute;
       height: 60.59px;
       left: 190px;
       top: 722px;
       font-family: Arya;
       font-style: normal;
       font-weight: normal;
       font-size: 58.171px;
       line-height: 104%;
       /* identical to box height, or 60px */
       text-align: left;
       color: rgb(151, 104, 175);
       z-index: 2;
   }
   
   @font-face {
       font-family: "Black Mango";
       src: url("BlackMangoVariableGX.ttf")
       /* TTF file for CSS3 browsers */
   }