body {
    overflow: hidden;
}

.work {
    position: absolute;
    width: 2003.5px;
    height: 1501px;
    left: -111px;
    top: -331px;
    background: rgb(195, 195, 195);
}

.dark-mode {
    background-color: black;
    color: white;
}

.logo {
    /* Vector */
    position: absolute;
    width: 46.61px;
    height: 45px;
    left: 182px;
    top: 350px;
    cursor: pointer;
}

.coolicon {
    position: absolute;
    right: 500px;
    top: 350px;
    bottom: 92.97%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 119px;
    height: 224.9px;
    left: 1478px;
    top: 800px;
    list-style: none;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 32.7523px 0px;
}

.list-item {
    font-family: Arya;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 104%;
    padding-bottom: 10px;
    cursor: pointer;
}

Link:hover {
    color: #fff;
    text-decoration: none;
}

Link:before,
Link:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: #fff;
}

Link:before {
    left: 0;
}

Link:after {
    right: 0;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

Link:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

Link:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}